[submodule "EleCuit/Assets/Internals"]
	path = EleCuit/Assets/Internals
	url = git@github.com:EleCuit-02106/Internals.git
[submodule "EleCuit/Assets/Externals"]
	path = EleCuit/Assets/Externals
	url = git@github.com:EleCuit-02106/Externals.git
[submodule "Tools"]
	path = Tools
	url = git@github.com:EleCuit-02106/Tools.git
[submodule "EleCuit/Assets/Stocks"]
	path = EleCuit/Assets/Stocks
	url = git@github.com:EleCuit-02106/Stocks.git
[submodule "EleCuit/Assets/Data/Schemas"]
	path = EleCuit/Assets/Data/Schemas
	url = git@github.com:EleCuit-02106/Schemas.git
[submodule "EleCuit/Assets/Data/Data"]
	path = EleCuit/Assets/Data/Data
	url = git@github.com:EleCuit-02106/Data.git
